@media (max-width: 1400px) {
  #section-treatments .flex-treatments {
    height: 250px;
  }
}

@media (max-width: 1200px) {
  #section-treatments .flex-treatments {
    height: 200px;
  }
}

@media (max-width: 1023px) {
  #navbar #logo {
    width: 220px;
    margin-left: 141px;
  }

  #navbar .vertical-line {
    display: none;
  }

  #navbar ul.navbar-flex {
    padding: 0;
  }

  #navbar .navbar-links-flex {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 10vh;
    background-color: var(--light-biege);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    /* outline: 2px solid red; */
  }

  #navbar .navbar-links-flex li {
    opacity: 0;
  }

  #navbar .burger {
    display: block;
    cursor: pointer;
    padding: 20px 50px;
  }

  #navbar .navbar-links-flex.nav-active {
    transform: translateX(0);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  #section-intro {
    padding: 40px;
  }

  /* Treatments */
  #section-treatments h2 {
    padding: 0 0 5px 0;
  }

  #section-treatments .flex-treatments {
    margin: 10px 0 10px 0;
    padding: 0px;
    flex-direction: column;
    height: 1800px;
  }

  #section-treatments .flex-treatments .offer-container img {
    width: 100%;
  }

  #section-treatments .flex-treatments .offer-container::before {
    width: 100%;
  }

  #section-treatments
    .flex-treatments
    .offer-container
    .flex-overlay-content
    h3 {
    padding: 0px;
  }

  /* Deals */
  #offers .grid-offers {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr 0.5fr 0.5fr;
    grid-template-areas:
      "h2"
      "img"
      "p"
      "h3"
      "btn";
    padding: 40px 0 40px 0;
  }

  #offers .grid-offers img {
    padding: 10px 80px 0 80px;
  }

  #offers .grid-offers p {
    padding: 20px 80px;
  }

  #offers .grid-offers h3 {
    padding: 0 0 10px 0px;
  }

  #offers .grid-offers #btn {
    grid-area: btn;
  }

  /* Reviews */
  #section-reviews.section {
    padding: 40px;
  }

  #footer .footer-column {
    padding: 10px;
  }
  /* Footer */

  #footer form input {
    width: 60%;
  }
  #footer {
    padding: 0 20px;
  }

  #footer .flex-footer {
    padding: 20px 10px;
  }

  #footer .flex-footer h3 {
    font-size: 1.5rem;
  }

  #footer .footer-column a {
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  #section-treatments .flex-treatments {
    height: 1500px;
  }
}
@media (max-width: 766px) {
  /* Utilities */
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 2rem;
  }

  #navbar .vertical-line {
    display: none;
  }

  /* Homepage */
  /* Section Intro */
  #section-intro {
    background: url("./img/flowers-800.jpg") no-repeat center/cover;
  }

  #section-intro h2 {
    padding: 0 10px 10px 10px;
  }

  #section-intro p {
    padding: 20px 20px 30px 20px;
  }

  /* Treatments */
  #section-treatments h2 {
    padding: 0 0 5px 0;
  }

  #section-treatments .flex-treatments {
    margin: 10px 0 10px 0;
    padding: 0px;
    flex-direction: column;
    height: 1200px;
  }

  #section-treatments .flex-treatments .offer-container img {
    width: 100%;
  }

  #section-treatments .flex-treatments .offer-container::before {
    width: 100%;
  }

  #section-treatments
    .flex-treatments
    .offer-container
    .flex-overlay-content
    h3 {
    padding: 0px;
    font-size: 1.5rem;
  }

  /* Deals */
  #offers .grid-offers {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr 1.5fr 0.5fr;
    grid-template-areas:
      "h2"
      "img"
      "p"
      "h3"
      "btn";
    padding: 40px;
  }

  #offers .grid-offers img {
    padding: 10px 40px 0 40px;
  }

  #offers .grid-offers p {
    padding: 5px 40px;
  }

  #offers .grid-offers h3 {
    padding: 5px 0 5px 0px;
  }

  #offers .grid-offers #btn {
    grid-area: btn;
  }

  /* Footer */

  #footer .btn-flex-row {
    flex-direction: column;
  }

  #footer h3 {
    padding: 0;
    font-size: 2rem;
  }

  #footer p {
    text-align: center;
  }

  #footer form input {
    width: 80%;
  }

  #footer .flex-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 20px;
    width: 440px;
    margin: auto;
  }

  #footer .flex-footer h3 {
    text-align: center;
  }

  #footer .footer-column {
    /* flex: 1; */
    /* display: flex; */
    /* flex-direction: column; */
    padding: 20px 0px;
  }

  #footer .footer-column a {
    display: block;
    text-align: center;
  }

  #footer .footer-column-left .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .section {
    padding: 30px;
  }
  #section-treatments .flex-treatments {
    height: 1000px;
  }

  #offers .grid-offers {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 2fr 1fr 0.5fr;
  }
  #offers .grid-offers img {
    padding: 10px 15px 0 15px;
  }

  #offers .grid-offers p {
    padding: 5px 15px;
  }

  #footer .flex-footer {
    width: 350px;
  }
}

@media (max-width: 498px) {
  #navbar #logo {
    width: 160px;
    margin-left: 96px;
  }
  #navbar .burger {
    padding: 20px 30px;
  }
  #navbar .burger div {
    width: 20px;
    height: 1px;
  }
  .section {
    padding: 20px;
  }

  #offers .grid-offers {
    grid-template-rows: 1fr 3fr 1.5fr 0.5fr 0.5fr;
  }
  #offers .grid-offers img {
    padding: 10px 10px 0 10px;
  }

  #offers .grid-offers p {
    padding: 5px 10px;
  }
  #section-treatments .flex-treatments {
    height: 900px;
  }
  .carousel-item {
    height: 200px;
  }
}

@media (max-width: 344px) {
  #navbar {
    height: 60px;
  }
  #navbar #logo {
    width: 140px;
    margin-left: 20px;
  }
  #navbar .burger {
    padding: 13px 20px;
    margin-bottom: 5px;
  }
  #navbar .burger div {
    width: 20px;
    height: 1px;
  }

  #header .hero-text h1 {
    width: 100%;
    text-align: center;
    overflow-wrap: normal;
    padding: 20px;
  }

  #offers .grid-offers {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 0.5fr 0.5fr;
  }

  #section-treatments .flex-treatments {
    height: 650px;
  }
  .carousel-item {
    height: 250px;
  }

  #footer .flex-footer {
    width: 270px;
  }
}
