/* Header */

#header .header-image:before {
  content: "";
  background: url("./img/header.jpg") no-repeat center center/cover;
  opacity: 0.9;
  position: absolute;
  width: 100vw;
  height: var(--hero-height);
  z-index: -1;
}

#header .header-image {
  background-color: rgba(0, 0, 0, 0.261);
  height: var(--hero-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header .hero-text {
  /* height: 100%; */
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header .hero-text h1 {
  position: relative;
  font-weight: 300;
  color: #fff;
  font-size: 4rem;
  padding: 0 0 30px 0;
  text-shadow: 0px 0px 10px black;
}

#header .hero-text h2 {
  color: #fff;
  font-weight: 200;
  padding: 0px 0 20px 0;
  text-shadow: 0px 0px 10px black;
}

/* Navbar */
#navbar {
  width: 100%;
  background-color: #000;
}

#navbar #logo {
  display: inline-block;
  width: 150px;
}

#navbar ul.navbar-flex {
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
#navbar .vertical-line {
  border-left: 2px solid var(--light-blue);
  /* padding: 20px 0px; */
  height: 40px;
}

#navbar .navbar-flex li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#navbar .navbar-flex li .underline {
  border: 1px solid rgba(255, 255, 255, 0);
  width: 0;
  margin: -4px 0 0 0;
  transition: all 250ms ease-in-out;
}
#navbar .navbar-flex a:hover .underline {
  border-color: var(--primary-blue);
  width: 100%;
  transition: all 250ms ease-in-out;
}

#navbar .navbar-flex li a {
  padding: 0 20px;
  color: var(--light-blue);
  font-weight: 250;
  text-transform: uppercase;
}

#navbar .navbar-flex li a:hover {
  color: var(--primary-blue);
}

/* Section Intro */

#section-intro {
  margin: 20px 0;
  background: url("./img/flowers.jpg") no-repeat center/cover;
  text-align: center;
  height: 400px;
}

#section-intro h2 {
  padding: 0 20px 20px 20px;
}

#section-intro p {
  padding: 40px 20px 60px 20px;
}

/* Section: Treatments */

#section-treatments {
  background-color: var(--light-biege);
}

#section-treatments h2 {
  padding: 0 0 20px 0;
}
#section-treatments .flex-treatments {
  display: flex;
  margin: 40px 0 80px 0;
  flex-direction: row;
  justify-content: space-around;
  height: 300px;
  width: auto;
}

#section-treatments .flex-treatments .offer-container {
  position: relative;
  display: flex;
  height: 100%;
  width: auto;
  margin: 8px;
}

#section-treatments .flex-treatments .offer-container img {
  max-height: 100%;
  width: auto;
}

#section-treatments .flex-treatments .offer-container::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

#section-treatments .flex-treatments .offer-container:hover:before {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 300ms ease-in-out;
}

#section-treatments .flex-treatments .offer-container .flex-overlay-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: var(--light-blue);
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

#section-treatments .flex-treatments .offer-container .flex-overlay-content h3 {
  padding: 20px;
  color: var(--light-blue);
  text-shadow: 0px 0px 10px black;
  cursor: pointer;
}

#section-treatments .flex-treatments .offer-container .flex-overlay-content i {
  text-shadow: 0px 0px 10px black;
}

.bottom-line {
  height: 2px;
  width: 80px;
  background: var(--light-blue);
  display: block;
  margin: 10px auto 60px auto;
  box-shadow: 0px 0px 10px black;
}

/* Introducing section */

/* #introducing {
  background-color: var(--light-biege);
} */

#offers .flex-offers {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 80px 0;
}

#offers .flex-offers img {
  width: 50%;
}

#offers .flex-offers .info p {
  padding: 40px;
}

#offers .flex-offers .info h3 {
  padding: 0 0 40px 0px;
}

#offers .flex-offers .info {
  text-align: center;
}

#reviews .flex-reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex: 1 100 0; */
}

/* Reviews */

#section-reviews {
  margin: 20px 0;
  background: url("./img/pattern-background.jpg") no-repeat center/cover;
  text-align: center;
  height: 400px;
  z-index: -1;
}

#section-reviews .reviews-content i {
  color: var(--primary-teal);
}

#section-reviews .reviews-content h2 {
  padding: 0 20px 20px 20px;
}

#section-reviews .reviews-content p {
  padding: 20px 20px 10px 20px;
}

#section-reviews .reviews-content .bottom-line {
  height: 2px;
  width: 80px;
  background: var(--primary-teal);
  display: block;
  margin: 20px auto 10px auto;
  box-shadow: 0px 0px 0px;
}

#section-reviews .reviews-content .name {
  text-transform: uppercase;
}

/* Footer */

#footer {
  background-color: var(--light-biege);
  /* height: 200px; */
}

#footer .flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#footer .flex-footer img {
  width: 120px;
  height: auto;
}

#footer .footer-column {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110px;
}

/* Footer column left */
#footer .footer-column-left {
  text-align: center;
  padding: 10px 0;
}

#footer .footer-column-left p,
#footer .footer-column-left a {
  padding: 10px;
}
#footer .footer-column-left .contact-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#footer .footer-column-left a {
  color: var(--primary-teal);
}
#footer .footer-column-left a:hover {
  color: var(--primary-blue);
}

/* Footer column middle */

#footer .footer-column-middle {
  text-align: center;
  padding: 10px 0;
}

/* Footer column right */
#footer .footer-column-right {
  text-align: center;
  padding: 10px 0;
}

#footer .footer-column-right .icons {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#footer .footer-column-right p {
  padding: 10px;
}

#footer .footer-column-right .icons .fa-brands {
  color: var(--primary-teal);
  padding: 3px 10px;
  transition: color 500ms ease-out;
}
#footer .footer-column-right .icons .fa-brands:hover {
  color: var(--primary-blue);
  transition: none;
}
