/* Header */

#header .header-image:before {
  content: "";
  background: url("./img/header.jpg") no-repeat center center/cover;
  opacity: 0.9;
  position: absolute;
  width: 100vw;
  height: var(--hero-height);
  z-index: -1;
}

#header .header-image {
  background-color: rgba(0, 0, 0, 0.261);
  height: var(--hero-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header .hero-text {
  /* height: 100%; */
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

#header .hero-text h1 {
  position: relative;
  /* font-weight: 300; */
  color: #fff;
  /* font-size: 4rem; */
  padding: 0 0 30px 0;
  text-shadow: 0px 0px 10px black;
}

#header .hero-text h2 {
  font-family: "Heebo", sans-serif;
  color: #fff;
  font-weight: 200;
  padding: 0px 0 20px 0;
  text-shadow: 0px 0px 10px black;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  background-color: var(--light-biege);
  /* background-color: #f8f4f176; */
  border-bottom: var(--light-blue) solid 1px;
  height: 80px;
  z-index: 5;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.428);
}

#navbar #logo {
  display: inline-block;
  width: 170px;
}

#navbar ul.navbar-flex {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
#navbar .vertical-line {
  border-left: 2px solid var(--primary-teal);
  height: 35px;
}

#navbar .navbar-flex li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#navbar .navbar-flex li .underline {
  border: 1px solid rgba(255, 255, 255, 0);
  width: 0;
  margin: -4px 0 0 0;
  transition: all 250ms ease-in-out;
}
#navbar .navbar-flex a:hover .underline {
  border-color: var(--primary-teal);
  width: 100%;
  transition: all 250ms ease-in-out;
}

#navbar .navbar-flex li a {
  padding: 0 20px;
  color: var(--primary-teal);
  font-weight: 300;
  text-transform: uppercase;
}

#navbar .navbar-flex li a:hover {
  color: var(--primary-teal);
  font-weight: 400;
}

/* Section Intro */

#section-intro {
  margin: 20px 0;
  background: url("./img/flowers.jpg") no-repeat center/cover;
  text-align: center;
  height: 450px;
}

#section-intro h2 {
  padding: 0 20px 20px 20px;
}

#section-intro p {
  padding: 40px 20px 60px 20px;
}

/* Section: Treatments */

#section-treatments {
  background-color: var(--light-biege);
}

#section-treatments h2 {
  padding: 0 0 20px 0;
}
#section-treatments .flex-treatments {
  display: flex;
  margin: 40px 0 80px 0;
  flex-direction: row;
  justify-content: space-around;
  height: 300px;
  width: auto;
}

#section-treatments .flex-treatments .offer-container {
  position: relative;
  display: flex;
  height: 100%;
  width: auto;
  margin: 8px;
}

#section-treatments .flex-treatments .offer-container img {
  max-height: 100%;
  width: auto;
}

#section-treatments .flex-treatments .offer-container::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

#section-treatments .flex-treatments .offer-container:hover:before {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 300ms ease-in-out;
}

#section-treatments .flex-treatments .offer-container .flex-overlay-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: var(--light-blue);
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

#section-treatments .flex-treatments .offer-container .flex-overlay-content h3 {
  padding: 20px;
  color: var(--light-blue);
  text-shadow: 0px 0px 10px black;
  cursor: pointer;
}

#section-treatments .flex-treatments .offer-container .flex-overlay-content i {
  text-shadow: 0px 0px 10px black;
}

/* Introducing section */

#offers .flex-offers {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 80px 0;
}

#offers .flex-offers img {
  width: 50%;
}

#offers .flex-offers .info p {
  padding: 40px;
}

#offers .flex-offers .info h3 {
  padding: 0 0 40px 0px;
}

#offers .flex-offers .info {
  text-align: center;
}

#reviews .flex-reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex: 1 100 0; */
}

/* Reviews */

#section-reviews {
  background: url("./img/pattern-background.jpg") no-repeat center/cover;
  text-align: center;
  height: 500px;
  z-index: -1;
}

#section-reviews .reviews-content i {
  color: var(--primary-teal);
}

#section-reviews .reviews-content h2 {
  padding: 0 20px 20px 20px;
}

#section-reviews .reviews-content p {
  padding: 20px 20px 10px 20px;
}

#section-reviews .reviews-content .name {
  text-transform: uppercase;
}

/* Footer */

#footer {
  background-color: #072732;
  color: var(--light-blue);
  font-weight: 150;
}
#footer .back-to-top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  /* border: red solid 2px; */
}
#footer #back-to-top-btn {
  display: none;
  font-size: 20px;
  width: 50px;
  height: 50px;
  background-color: rgba(7, 39, 50, 0);
  color: var(--light-blue);
  cursor: pointer;
  outline: none;
  border: 2px solid var(--light-blue);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

/* #footer #back-to-top.active {
  background-color: rgba(7, 39, 50, 1);
  /* display: block; */
/* } */

#footer #back-to-top-btn:hover,
#back-to-top-btn:focus {
  color: var(--primary-blue);
  border: 2px solid var(--primary-blue);
}

#footer .newsletter {
  padding: 10px 0 30px 0;
  border-bottom: var(--primary-teal) solid 1px;
}
#footer h3 {
  color: var(--light-blue);
  padding: 0 0 10px 0;
}

#footer form input {
  width: 500px;
  padding: 20px;
  height: 44px;
  margin: 30px;
  border: #ccc solid 1px;
  border-radius: 1px;
}

/* #footer .bottom-line {
  height: 1px;
  width: 300px;
  background: var(--light-blue);
  display: block;
  margin: 20px auto 60px auto;
  box-shadow: 0px 0px 0px black;
} */

#footer .flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 0 30px 0;
  border-bottom: var(--primary-teal) solid 1px;
}

#footer .flex-footer h3 {
  text-align: start;
}

#footer .footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

#footer .footer-column a {
  text-decoration: none;
  color: var(--light-blue);
}
#footer .footer-column a:hover {
  color: var(--primary-blue);
}

#footer .footer-column-right .icons {
  display: flex;
  flex-direction: row;
}

#footer .footer-column .icons .fa-brands {
  color: var(--light-blue);
  padding: 5px 10px 5px 0;
  transition: color 500ms ease-out;
}
#footer .footer-column .icons .fa-brands:hover {
  color: var(--primary-blue);
  transition: none;
}

#footer .copyright {
  text-align: center;
  padding: 20px 0;
}
