:root {
  --primary-blue: #6fbad6;
  --primary-teal: #103d4d;
  --light-biege: #f8f4f1;
  --light-blue: #f6ebc9;

  --hero-height: 650px;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main styling */
html,
body {
  font-family: "Heebo", sans-serif;
  color: var(--primary-teal);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  font-weight: 250;
}

ul {
  list-style: none;
}
/* Utilities */
.container {
  height: 100%;
  max-width: 1280px;
  margin: auto;
}

.btn {
  text-transform: uppercase;
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  z-index: 1;
  width: 140px;
  height: 44px;
  text-align: center;
  border-radius: 1px;
}

.btn-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.btn-light {
  color: var(--primary-teal);
  background-color: var(--light-blue);
  transition: all 250ms ease-in-out;
}

.btn-light:hover {
  color: var(--light-blue);
  transition: all 250ms ease-in-out;
}

.btn-dark {
  color: var(--light-blue);
  background-color: var(--primary-teal);
  transition: all 250ms ease-in-out;
}

.btn-dark:hover {
  color: var(--primary-teal);
  transition: all 250ms ease-in-out;
}

a .overlay-dark {
  position: absolute;
  width: 0px;
  height: 46px;
  margin: -35px -20px;
  background-color: var(--primary-teal);
  transition: all 250ms ease-in-out;
  z-index: -1;
  border-radius: 1px;
}
a:hover .overlay-dark {
  width: 140px;
  height: 46px;
  transition: all 250ms ease-in-out;
  z-index: -1;
  border-radius: 1px;
}

a .overlay-light {
  position: absolute;
  width: 0px;
  height: 46px;
  margin: -35px -20px;
  background-color: var(--light-blue);
  transition: all 250ms ease-in-out;
  z-index: -1;
  border-radius: 1px;
}

a:hover .overlay-light {
  width: 140px;
  transition: all 250ms ease-in-out;
  z-index: -1;
  border-radius: 1px;
}

h1 {
  font-family: "Tiro Devanagari Marathi", serif;
  font-size: 4rem;
  font-weight: 50;
}

h2 {
  font-family: "Tiro Devanagari Marathi", serif;
  color: var(--primary-teal);
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
}
h3 {
  font-family: "Tiro Devanagari Marathi", serif;
  color: var(--primary-teal);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 100;
}

.section {
  padding: 80px;
}

/* Carousel */
.review-carousel {
  position: relative;
}

.carousel-item {
  height: 250px;
  display: none;
}
.carousel-item-selected {
  display: block;
  opacity: 1;
}

.carousel-nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel-button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #103d4d70;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-button-selected {
  background: var(--primary-teal);
}

.bottom-line {
  height: 2px;
  width: 80px;
  background: var(--light-blue);
  display: block;
  margin: 10px auto 60px auto;
  box-shadow: 0px 0px 10px black;
}

/* Reveal */
.reveal {
  position: relative;
  transform: translateY(80px);
  opacity: 0;
  transition: all 1s ease-in-out;
}

.reveal.active {
  transform: translate(0px);
  opacity: 1;
}

.reveal-left {
  position: relative;
  transform: translate(-80px);
  opacity: 0;
  transition: all 1s ease-in-out;
}

.reveal-left.active {
  transform: translate(0px);
  opacity: 1;
}

.reveal-right {
  position: relative;
  transform: translate(80px);
  opacity: 0;
  transition: all 1s ease-in-out;
}

.reveal-right.active {
  transform: translate(0px);
  opacity: 1;
}
